<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StreamURL" value="http://dvb.analprolap.se:9981/stream/channel/8955f1567c07223b179ac923f991bb8a?profile=openod-stream" />
		<add key="DataDirectory" value="../../../www/channeldata" />
		<add key="XMLTV" value="http://dvb.analprolap.se:9981/xmltv/channels" />
		<add key="EPGChannelName" value="BBC One HD" />
	</appSettings>
</configuration>
